*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}
.clock{
    width: auto;
}
.flip-clock-dot{
    background: #ccc;
}
.flip-clock-meridium a{
    color: #ccc;
}